# Authentication
TOKEN_KEY=
TOKEN_EXPIRY=2h
SALT=11

# Create a database for your local
# Database Credentials
# Local
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=expense
DB_USERNAME=expenseUser
DB_PASSWORD=''